// Colors
$black: #000000;
$white: #ffffff;
$rose: #f77274;
$rose-dark:#d26769;
$silver: #7d7a77;
$black-silver:#5b5855;

// Breakpoints
$mobile: 320px;
$mobile-up: 576px;
$tablet: 768px;
$tablet-up: 992px;
$desktop: 1024px;
$desktop-up: 1200px;

